# #Stage B Data Science Internship

### Graded Quiz Sol'n

### Yamini Vijaywargiya 

#### Machine Learninig: Regression

In [7]:
import numpy as np
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
df = pd.read_csv(url, error_bad_lines= False)

df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [2]:
df.describe(include ='all')

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
unique,19735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2016-03-03 11:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,NaN,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,NaN,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,NaN,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,NaN,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,NaN,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,NaN,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [3]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [8]:
column_names = {'date': 'Date', 'Appliances': 'Appliances', 'lights':'Lights', 'T1':'Temp_Kitchen',
                'RH_1':'Humidity_Kitchen', 'T2':'Temp_LivingRoom', 'RH_2':'Humidity_LivingRoom', 
                'T3':'Temp_LaundryRoom', 'RH_3':'Humidity_LaundryRoom', 'T4':'Temp_Office', 
                'RH_4':'Humidity_Office', 'T5':'Temp_Bathroom', 'RH_5':'Humidity_Bathroom', 
                'T6': 'Temp_Outside_Building', 'RH_6': 'Humidity_Outside_Building', 
                'T7': 'Temp_IroningRoom', 'RH_7': 'Humidity_IroningRoom',
                'T8': 'Temp_TeenagerRoom', 'RH_8': 'Humidity_TeenagerRoom', 
                'T9': 'Temp_ParentsRoom', 'RH_9': 'Humidity_ParentsRoom', 'T_out': 'Temp_Outside', 
                'Press_mm_hg': 'Press_mm_hg', 'RH_out': 'Humidity_Outside', 'Windspeed': 'Windspeed', 
                'Visibility': 'Visibility', 'Tdewpoint': 'T_Dewpoint', 'rv1': 'Random_Var1', 'rv2': 'Random_Var2'}

df = df.rename(columns = column_names)

In [9]:
df.head()

,Date,Appliances,Lights,Temp_Kitchen,Humidity_Kitchen,Temp_LivingRoom,Humidity_LivingRoom,Temp_LaundryRoom,Humidity_LaundryRoom,Temp_Office,...,Temp_ParentsRoom,Humidity_ParentsRoom,Temp_Outside,Press_mm_hg,Humidity_Outside,Windspeed,Visibility,T_Dewpoint,Random_Var1,Random_Var2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
# Dropping Columns
df.drop(['Date', 'Lights'], inplace=True, axis=1)

In [11]:
df.head()

,Appliances,Temp_Kitchen,Humidity_Kitchen,Temp_LivingRoom,Humidity_LivingRoom,Temp_LaundryRoom,Humidity_LaundryRoom,Temp_Office,Humidity_Office,Temp_Bathroom,...,Temp_ParentsRoom,Humidity_ParentsRoom,Temp_Outside,Press_mm_hg,Humidity_Outside,Windspeed,Visibility,T_Dewpoint,Random_Var1,Random_Var2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [12]:
# Data Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
features_df = normalised_df.drop(columns = ['Appliances'])
appliances_target = normalised_df['Appliances']

In [14]:
features_df.head()

,Temp_Kitchen,Humidity_Kitchen,Temp_LivingRoom,Humidity_LivingRoom,Temp_LaundryRoom,Humidity_LaundryRoom,Temp_Office,Humidity_Office,Temp_Bathroom,Humidity_Bathroom,...,Temp_ParentsRoom,Humidity_ParentsRoom,Temp_Outside,Press_mm_hg,Humidity_Outside,Windspeed,Visibility,T_Dewpoint,Random_Var1,Random_Var2
0,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [15]:
# spliting data into training and test set i 70-30 with 42 random_state.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, 
                                                    appliances_target, test_size=0.3, 
                                                    random_state=42)

In [17]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

In [20]:
# Q.14
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [23]:
# Q.15
from sklearn.metrics import mean_squared_error
rms = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rms, 3)

0.088

In [22]:
# Q.13
from sklearn.metrics import mean_absolute_error
mean = mean_absolute_error(y_test, predicted_values)
round(mean,2)

0.05

In [41]:
# Q.17
def get_weights_df(model, feat, column_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', column_name]
    weights_df[column_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')

print(linear_model_weights.iloc[linear_model_weights['Linear_Model_Weight'].idxmax()])

print(linear_model_weights.iloc[linear_model_weights['Linear_Model_Weight'].idxmin()])

Features               Humidity_Kitchen
Linear_Model_Weight            0.553547
Name: 25, dtype: object
Features               Humidity_LivingRoom
Linear_Model_Weight              -0.456698
Name: 0, dtype: object

In [35]:
# Lasso Regression
from sklearn.linear_model import Lasso

lasso_R = Lasso(alpha=0.001)
lasso_R.fit(x_train, y_train)
lasso_pred = lasso_R.predict(x_test)

lasso_weight = get_weights_df(lasso_R, x_train, 'Lasso_weight')

In [37]:
print(lasso_R.score(x_train, y_train).round(3))
print(lasso_weight)

0.025
                     Features  Lasso_weight
0            Humidity_Outside     -0.049557
1       Humidity_TeenagerRoom     -0.000110
2                Temp_Kitchen      0.000000
3                  T_Dewpoint      0.000000
4                  Visibility      0.000000
5                 Press_mm_hg     -0.000000
6                Temp_Outside      0.000000
7        Humidity_ParentsRoom     -0.000000
8            Temp_ParentsRoom     -0.000000
9           Temp_TeenagerRoom      0.000000
10       Humidity_IroningRoom     -0.000000
11                Random_Var1     -0.000000
12           Temp_IroningRoom     -0.000000
13      Temp_Outside_Building      0.000000
14          Humidity_Bathroom      0.000000
15              Temp_Bathroom     -0.000000
16            Humidity_Office      0.000000
17                Temp_Office     -0.000000
18       Humidity_LaundryRoom      0.000000
19           Temp_LaundryRoom      0.000000
20        Humidity_LivingRoom     -0.000000
21            Temp_LivingRoom      0.000000
22  Humidity_Outside_Building     -0.000000
23                Random_Var2     -0.000000
24                  Windspeed      0.002912
25           Humidity_Kitchen      0.017880

In [38]:
# Q.19
print((lasso_weights_df['Lasso_weight'] != 0).sum())

4

In [40]:
# Q20
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))
round(lasso_rmse, 3)

0.094